<section class="container mt-4">
  <h2 class="">Editar libros</h2>
  <app-notification *ngIf="showAlert" [alertClass]="alertClass" [alertMessage]="alertMessage"/>
  <form (submit)="updateBook()">
    <div class="form-group mb-4">
      <label for="id">id</label>
      <input
        class="form-control"
        id="id"
        name="id"
        type="text"
        [(ngModel)]="books.id"
      />
    </div>
    <div class="form-group mb-4">
      <label for="isbn">isbn</label>
      <input
        class="form-control"
        id="isbn"
        name="isbn"
        type="text"
        [(ngModel)]="books.isbn"
      />
    </div>
    <div class="form-group mb-4">
      <label for="title">title</label>
      <input
        class="form-control"
        id="title"
        name="title"
        type="text"
        [(ngModel)]="books.title"
      />
    </div>
    <div class="form-group mb-4">
      <label for="author">author</label>
      <input
        class="form-control"
        id="author"
        name="author"
        type="author"
        [(ngModel)]="books.author"
      />
    </div>
    <div class="form-group mb-4">
      <label for="description">description</label>
      <input
        class="form-control"
        id="description"
        name="description"
        type="description"
        [(ngModel)]="books.description"
      />
    </div>
    <div class="form-group mb-4">
      <label for="cover">cover</label>
      <input
        class="form-control"
        id="cover"
        name="cover"
        type="cover"
        [(ngModel)]="books.cover"
      />
    </div>
    <div class="form-group mb-4">
      <label for="price">price</label>
      <input
        class="form-control"
        id="price"
        name="price"
        type="number"
        [(ngModel)]="books.price"
      />
    </div>
    <div class="form-group mb-4">
      <label for="pages">pages</label>
      <input
        class="form-control"
        id="pages"
        name="pages"
        type="number"
        [(ngModel)]="books.pages"
      />
    </div>

    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary mt-3 "><i class="bi bi-pencil"></i> Update</button>
    </div>
  </form>
</section>
